<div class="jumbotron">
    <h1 class="display-4">Extrator de texto em Imagens</h1>
    <p class="lead">Sistema para extração de textos em imagens.</p>
    <hr>
    <p>Escolha os arquivos a terem o seu texto extraído.</p>
    <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Selecione os arquivos</label>
        <input class="form-control" type="file" id="formFileMultiple" multiple>
    </div>
    <div>
        <a class="btn btn-success btn-lg" href="/extract" role="button">Extrair texto</a>
    </div>
    <hr>
    <div>
        <textarea name="texto" id="texto" cols="80" rows="30"></textarea>
    </div>
</div>