<div class="jumbotron">
    <h1 class="display-4">Extrator de texto em imagens da Internet</h1>
    <hr>
    <div class="mb-3">
        <form action="/extract" method="POST">
            <label for="form" class="form-label">Insira a URL completa da imagem a aperte o botão para extrair o texto:</label>
            <input class="form-control" type="text" name='imgurl' placeholder="https://caminho.da.imagem/imagem.jpg">
            <button class="btn btn-success mt-3" type="submit">Extrair texto</button>
        </form>
    </div>
    <div>
        <textarea name="texto" id="texto" cols="60" rows="30">{{dados}}</textarea>
    </div>
</div>