<div class="jumbotron">
    <h1 class="display-4">Extract text from Internet images</h1>
    <hr>
    <div class="mb-3">
        <form action="/extract" method="POST">
            <label for="form" class="form-label">Enter full URL of image and press the button to extract the text:</label>
            <input class="form-control" type="text" name='imgurl' placeholder="Supported extensions: BMP, JFIF, JPEG, JPG, PNM, PNG and TIFF">
            <button class="btn btn-success mt-3" type="submit">Extract text</button>
        </form>
    </div>
    <div>
        <textarea name="texto" id="texto" cols="60" rows="30">{{dados}}</textarea>
    </div>
</div>